*{
    font-family: 'Montserrat', sans-serif;
}

#petition{
    margin-top: 80px;
}

#petition .container{
    padding: 20px;
    background-color: #F8F9FA;
}

#petition .container .row .coll{
    margin: 20px 0px;
}

#petition .container .row .col-4{
    text-align: center;
}

#petition .container .row .col-4 img{
    width: 340px;
    height: 240px;
}

#petition .container .row .col-4 h4{
    margin: 20px;
}

.vert{
    color: green;
    font-weight: 600;
}

.rouge{
    color: #f44336;
    font-weight: 600;
}

#petition .container .row .col-8{
    padding: 20px;
}

#petition .row .col-8 h2{
    font-weight: 600;
}

#petition .row .col-8 p{
    margin-top: 20px;
}

#petition .col-8 form .btn{
    margin-top: 10px;
    float: right;
}



.hide{
    position: absolute;
    display: none;
    visibility:hidden;
}

.flex{
    display: flex;
    justify-content: center;
}


/*FOOTER*/

footer{
    width: 100%;
    height: 90px;
    background-color: #212529;
}

footer ul{
    display: flex;
    justify-content: center;
    list-style: none;   
}

footer ul li{
    margin-left: 30px;
    margin-top: 18px;
}

footer ul li:nth-child(1){
    margin-left: 0px;
}

footer ul li:nth-child(4){
    margin-right: 30px;
}

footer ul li i{
    font-size: 20px;
    color: white;
}

footer ul li i:hover{
    color: #f44336;
}

footer p{
    margin-top: -8px;
    font-size: 16px;
    color: #f44336;
    text-align: center;
}



@media screen and (max-width : 600px){
    

     /*FOOTER*/

     footer{
        width: 100%;
        height: 110px;
        background-color: #212529;
    }
}