*{
    font-family: 'Montserrat', sans-serif;
}

#petition{
    margin: 100px;
}

.container{
    border: 1px solid yellow;
    padding: 20px;
}

.container .row{
    border: 1px solid teal;
}

.container .row .coll{
    border: 1px solid violet;
    margin: 20px 0px;
}

.container .row .col-4{
    text-align: center;
}

.container .row .col-4 img{
    width: 300px;
    height: 200px;
}

.container .row .col-8{
    padding: 20px;
}